.title-field {
    width: 200px;
    height: 25px;
    vertical-align: top;
}

.top {
    vertical-align: top;
}

.max-space {
    margin-left: 66%;
}

.note-field {
    width: 80%;
    margin-left: 5px;
}

.area-size {
    max-height: 300px;
    min-height: 200px;
}

.get-button-space {
    margin-left: 137px
}

.button-space {
    margin-bottom: 0px;
    margin-left: 5px;
}
